body {
    font-family: "HelveticaNeue-Light", 
    "Helvetica Neue Light", 
    "Helvetica Neue", 
    Helvetica, Arial, 
    "Lucida Grande", 
    sans-serif;
    height: 100%;
  }
   
  .wrapper {
    width: 800px;
    margin: 30px auto;
    color: #414141;
    text-align: center;
  }
   
  h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
  }

  p:hover {
    color: rgb(12, 2, 2);
    text-shadow: 0 0 5px #f40317,
                0 0 25px #1ff403,
                0 0 50px #f40303,
                0 0 100px #03f40f;
  }
   
  #seconds, #tens {
    font-size: 2em;
  }
   
  button:active {
    transition: all 300ms ease;
    transform: translateY(4px);
  }

  button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #ffa600;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  }

  button:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: rgb(122, 114, 114);
    border: solid 1px #fff;
    color: #ffa600;
  }
  
  